:root {
  --color-pink: #f86c66;
}
.upper-case {
  text-transform: uppercase;
}
.actors {
  width: 100%;
}
.actors-heading {
  color: var(--color-pink);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.7rem;
  text-align: center;
}
.actors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 450px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.actors-container-actor-card {
  padding: 3.13rem 3.13rem;
  margin: 0;
  box-shadow: 0 2px 15px #0704041a;
  text-align: center;
}
.actor-avatar {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: 2px solid var(--color-pink);
  outline-offset: 0.25rem;
  object-fit: cover;
}
.actor-full-name {
  margin-top: 1.25rem;
  color: #000000d3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.contact-menu {
  padding: 0;
}
.contact-menu-item {
  display: inline-block;
  margin-right: 0.5rem;
}
.contact-menu-item:last-of-type {
  margin-right: 0;
}
.contact-menu-link {
  --contact-menu-link-size: 36px;

  display: block;
  width: var(--contact-menu-link-size);
  height: var(--contact-menu-link-size);
  background-size: contain;
  background-repeat: no-repeat;
}
.facebook {
  background-image: url(./../icons/facebook.svg);
}
.instagram {
  background-image: url(./../icons/instagram.svg);
}
.twitter {
  background-image: url(./../icons/twitter.svg);
}
.actors-you-choosed {
  display: block;
  width: 1100px;
  padding: 1.56rem 0;
  margin: 6.25rem auto 0;
  background-color: #fcfcfc;
}
